.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px minmax(245px, 1fr);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    overflow: hidden;

    @media (max-width: 450px){ 
        grid-template-columns: 25px minmax(245px, 1fr);
        width: 90%;
    }

    a {
        text-decoration: none;
    }
 
}

.mainWrapper {
    display: grid;
    border-radius: 30px 10px 10px 10px;   
    background-color: #dadce0;
    border: 0.5px solid #e6ecf0b6;
    padding-top: 1rem;
    height: 90px;
    width: 100%;
    cursor: default;
    column-gap: 1rem;
    grid-column: 2 / 3;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 10rem auto;
    justify-items: start;
    align-items: start;
    grid-template-areas: "img name"
                        "img about"
                        "img .";

    @media (max-width: 450px){ 
  
    }
}

.image {
    grid-area: img;
    align-self: center;
    justify-self: center;
    @media (max-width: 450px){ 
        padding: 0;
    }
    
    & img {
        width: 7rem;
        background-color: #fff;
        height: 7rem;
        border: 0.5px solid #dadce0;
        border-radius: 25px 5px 5px 5px;
    }
}


.sideWrapper {
    grid-column: 1 / 2; 
  
}

.date {
    background-color: black;
}

.month {
    background-color: black;
}

.eventname {
    background-color: black;
}

.about {
    background-color: black;

}